@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide Next.js Dev Indicator */
[data-nextjs-toast],
div[data-nextjs-toast-errors-parent],
#next-route-announcer,
nextjs-portal {
  display: none !important;
}



/* Print Styles */
.print-only {
  display: none !important;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  html,
  body {
    height: 100vh !important;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    background: white;
  }

  body * {
    visibility: hidden;
  }

  #receipt-modal,
  #receipt-modal * {
    visibility: visible;
  }

  #receipt-modal {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;

    width: 80% !important;
    max-width: 450px !important;
    height: auto !important;

    margin: 0 !important;
    padding: 30px !important;

    background: white !important;
    color: black !important;
    z-index: 2147483647 !important;

    border: 1px solid #000 !important;
    border-radius: 10px !important;
    box-shadow: none !important;
  }

  .print-only {
    display: block !important;
    visibility: visible !important;
  }

  .no-print {
    display: none !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}





/* Custom Scrollbar for dashboard lists */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Remove Arrows/Spinners from Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Autofill Dark Theme Fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0f172a inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

@media print {

  aside,
  header,
  button,
  .no-print {
    display: none !important;
  }

  body,
  main {
    background: white !important;
    color: black !important;
    overflow: visible !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}